html {
  height: 100%;
  width: 100%;
  /*min-width: 360px;*/
  
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-width: 380px;
  background-color: #d1d1d1;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #d0d067; 
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  background-color: #392c1e;
  flex-direction: row;
  
  /*opacity: 0.2;*/
  /*background-color: #222;*/
}

a {
  text-decoration: none;
  
}
/*====== LOGO HEADER ======*/
#anchorIconLogo {
  display: flex;
  align-items: center;
  height: 100px;
  width: 9em;
  font-family: 'Lucida Calligraphy New', sans-serif;
  font-size: 36px;
  font-style: italic;                                              
  color: #b6ac97;
  
}

#iconLogo {
  width: 100%;
  height: 100%; 
}
/*=======END LOGO HEADER =========*/

/*============= LOG HEADER ===========*/
.buttonLogHeader {
  display: flex;
  /*background-color: red;*/
}
#buttonLog {
  width: 150px;
  background-color: #906427;
  color: #b6ac97;
  border: solid 1px #b6ac97;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: normal;
}

#buttonLog:hover {
  font-weight: bold;
}
.iconConnected{
  display: none;
}

/*============ MENU HEADER ================*/
.buttonGen {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  color: #b6ac97;
  /*background-color: rgba(0, 0, 0, 0);*/
  background-color: #392c1e;
  font-family: 'Hind Madurai', sans-serif;
}

.buttonGen:hover {
  font-weight: bold;
}
#buttonFormule {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  color: #b6ac97;
  background-color: rgba(0, 0, 0, 0);
  /*background-color: #392c1e;*/
  font-family: 'Hind Madurai', sans-serif;
}

.buttonActive {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: #392c1e;
  background-color: #b6ac97;
  /*background-color: #392c1e;*/
  font-family: 'Hind Madurai', sans-serif;

}
.buttonInactive {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  color: #b6ac97;
  background-color: rgba(0, 0, 0, 0);
  /*background-color: #392c1e;*/
  font-family: 'Hind Madurai', sans-serif;

}
.buttonInactive:link {
  text-decoration: none;
}
.buttonInactive:visited {
  text-decoration: underline;
}
.buttonInactive:hover {
  font-weight: bold;
}
.buttonInactive:active {
  text-decoration: underline;
}

.underButtonActive {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: #b6ac97;
  background-color: #906427;
  /*background-color: #392c1e;*/
  font-family: 'Hind Madurai', sans-serif;

}
.underButtonInactive {
  border-radius: 10px;
  height: 30px;
  width: 125px;
  margin: 5px 5px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  color: #392c1e;
  background-color: rgba(0, 0, 0, 0);
  /*background-color: #392c1e;*/
  font-family: 'Hind Madurai', sans-serif;

}
.underButtonInactive:hover {
  font-weight: bold;
}

/*============ SOUS MENU HEADER ================*/


/*============ END SOUS MENU HEADER ================*/
h1 {
  font-family: 'Lucida Calligraphy New', sans-serif;
  font-size: 36px;
}
.callPhone::before {
  content: "\260F";

}
/*==============================START MAIN ============================*/
main {
  display: flexbox;
  align-items: center;
  width: 100vw;
  /*min-height: 582px;*/
  background-color: #fafafa;
  top: 100px;
  
}
.cardA {
  background-color: #392c1e;
  
}
.sectionMenu {
  display: block;
  position: relative;
  height: 100%;
  background-color: #fafafa;
  
}
.cardMenu {
  position: relative;
  background-color: #fafafa;
  color:#b6ac97
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.section-scroll {
  width: 100%;
  /*left: -1px;*/
  display: block;
  position: relative;
  /*top: 140px;*/
  min-height: 291px;
  background-color: #392c1e;
  
  
}
.cardScroll {
  display: flex;
  width: 100vw;
  /*min-height: 291px;*/
  
  background-color: #392c1e;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  /*border: solid 2px white;*/
  
}
.sectionPresentation {
  position: relative;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  background-color: #906427;
  

}
.cardB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b6ac97;
  
}
.cardB h2 {
  display: flexbox;
  margin: 10px;
}
.cardB span {
  font-size: 20px;
  font-weight:bold;
}
/*=================== END MAIN =====================*/

/*================== START FOOTER =================*/
footer {
  display: flex;
  align-items: center;
  width: 100vw;
  /*height: 300px;*/
  background-color: #392c1e;
  color:#b6ac97;
}
.grid-contenair-footer {
  width: 90%;
  margin: auto;
  display: grid;
  /*grid-template: 1fr 30px / 1fr 1fr;*/
  gap: 10px 20px;
  
}

/*-------------- grid item contact footer ---------------*/
.grid-item-contact-footer {
  width: 100%;
  grid-column: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 10px;
}
.contact-footer a {
  color: #b6ac97;
  align-content: center;
}
.grid-item-contact-footer nav {
  display: flex;
}
.socialNav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socialLink {
  width: 60%;
  height: 100%;
  margin:10px;
  list-style-type: none;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

/*------------------- start grid item hour footer ------------------*/
.grid-item-hour-footer {
  /*grid-column: 2;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-hour-footer table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.grid-item-hour-footer thead {
  display: flexbox;
  align-self: center;
  
}
.grid-item-hour-footer table {
  width: 100%;
  display: flexbox;
  justify-content: center;
  align-self: center;
}
.grid-item-hour-footer tbody tr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.grid-item-hour-footer tbody tr td {
  width: 115px;
  padding: 0 5px;
  display: flexbox;
  align-self: center;
  
}

/*--------------- grid item lien footer -------------------*/
/* --------------propiete css dans media queries-----------*/
.grid-item-lien-footer {
  display:flex;
  justify-content: space-around;
}
.grid-item-lien-footer ul {
  display: inline-flex;
  list-style-type: none;
}
.grid-item-lien-footer li {
  margin: 0 5px;
}
.grid-item-lien-footer a {
  color: #b6ac97;
}

/*=================== END  FOOTER =====================*/

/*============== START MEDIA QUERIES ==================*/

/*============== min 240px max 576px ==================*/
@media screen and (min-width: 240px) and (max-width: 576px) {
  .menu {
    display: none;
  }
  .underMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:100px;
    left:0px;
    background-color: #906427; 
  }

  .underUnderMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:140px;
    left:0px;
    background-color: #b6ac97;
    color: #392c1e ;
  }
  #anchorIconLogo {
    font-size: 24px;
  }
  #buttonLog {
    width: 110px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: normal;
  }
  
  #buttonLog:hover {
    font-weight: bold;
  }

  /*--------------------------------------*/
  .grid-contenair-footer {
    grid-template: 1fr  1fr 30px / 1fr;
  }
  .grid-item-hour-footer {
    grid-column: 1;
  }
  .grid-item-lien-footer {
    grid-row: 3;
  }
  .section-scroll {
    top: 140px;
  }
  .sectionMenu {
    top: 180px;
  }
  .footer-page-menu {
    display: block;
    position:relative;
    top: 180px;
  }
}


/*============== min 577px max 719px ====================*/
@media screen and (min-width: 577px) and (max-width: 719px) {
  .menu {
    display: none;
  }
  .underMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:100px;
    left:0px;
    background-color:#906427; 
  }
  .underUnderMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:140px;
    left:0px;
    background-color: #b6ac97;
    color: #392c1e ;
  }
  #anchorIconLogo {
    font-size: 36px;

  }
  .grid-contenair-footer {
    grid-template: 1fr  1fr 30px / 1fr;
  }
  .grid-item-hour-footer {
    grid-column: 1;
  }
  .grid-item-lien-footer {
    grid-row: 3;
  }
  .section-scroll {
    top: 140px;
  }
  .sectionMenu {
    top: 180px;
  }
  
  .footer-page-menu {
    display: block;
    position:relative;
    top: 180px;
  }
}
/*============== min 720px max 1199px ==================*/
@media screen and (min-width: 720px) and (max-width: 1199px) {
  .menu {
    display: none;
  }
  .underMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:100px;
    left:0px;
    background-color:#906427; 
  }
  .underUnderMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:140px;
    left:0px;
    background-color: #b6ac97;
    color: #392c1e ;
  }
  .grid-contenair-footer {
    grid-template: 1fr  1fr 30px / 1fr;
  }
  .grid-item-hour-footer {
    grid-column: 1;
  }
  .grid-item-lien-footer {
    grid-row: 3;
  }
  .section-scroll {
    top: 140px;
  }
  .sectionMenu {
    top: 180px;
  }
  
  .footer-page-menu {
    display: block;
    position:relative;
    top: 180px;
  }
}
/*============== min 1200px max 1399px ===================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {

  .underMenu {
    display: none;
  }
  .underUnderMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:100px;
    left:0px;
    background-color: #b6ac97;
    color: #392c1e ;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: #392c1e;
    /*border: solid 5px #1815cb;*/
  }
  .buttonGen {
    font-size: 20px;
    width: 200px;

  }
  .buttonGen:hover {
    font-size: 20px;
    width: 200px;
  }

  .buttonLogHeader {
    display: flex;
    /*background-color: red;*/
  }
  .section-scroll {
    top: 100px;
  }
  .sectionMenu {
    top: 140px;
  }
  
  .footer-page-menu {
    display: block;
    position:relative;
    top: 140px;
  }
  .grid-contenair-footer {
    grid-template: 1fr 30px / 1fr 1fr;
  }
  .grid-item-hour-footer {
    grid-column: 2;
  }
  .grid-item-lien-footer {
    grid-row: 2;
    grid-column: span 2;
  }
}
/*======================== min 1400px ===========================*/
@media screen and (min-width: 1400px){
  .underMenu {
    display: none;
  }
  .underUnderMenu {
    display: flex;
    justify-content:space-evenly;
    position:absolute;
    width: 100vw;
    top:100px;
    left:0px;
    background-color: #b6ac97;
    color: #392c1e ;
  }
  .menu {
    
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    background-color: #392c1e;
    /*border: solid 5px #1815cb;*/
    
  }
  .buttonGen {
    font-size: 20px;
    width: 200px;

  }
  .buttonGen:hover {
    font-size: 20px;
    width: 200px;

  }  
  .buttonLogHeader {
    display: flex-inline;
    /*background-color: red;*/
  }
  .section-scroll {
    top: 100px;
  }
  .sectionMenu {
    top: 140px;
  }
  
  .footer-page-menu {
    display: block;
    position:relative;
    top: 140px;
  }
  .grid-contenair-footer {
    grid-template: 1fr 30px / 1fr 1fr;
  }
  .grid-item-hour-footer {
    grid-column: 2;
  }
  .grid-item-lien-footer {
    grid-row: 2;
    grid-column: span 2;
  }
}